In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import ConfusionMatrixDisplay
from sklearn.preprocessing import StandardScaler
from sklearn import metrics

In [2]:
train=pd.read_csv("train.csv")

In [26]:
train.head()

,Marital status,Application mode,Application order,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,1,1,1,1,126.0,1,1,19,5,...,0,6,7,6,12.428571,0,11.1,0.6,2.02,Graduate
1,1,17,1,1,1,125.0,1,19,19,9,...,0,6,9,0,0.000000,0,11.1,0.6,2.02,Dropout
2,1,17,2,1,1,137.0,1,3,19,2,...,0,6,0,0,0.000000,0,16.2,0.3,-0.92,Dropout
3,1,1,3,1,1,131.0,1,19,3,3,...,0,8,11,7,12.820000,0,11.1,0.6,2.02,Enrolled
4,1,1,2,1,1,132.0,1,19,37,4,...,0,7,12,6,12.933333,0,7.6,2.6,0.32,Graduate

In [4]:
# Tiro la columna id, course en train
train=train.drop(columns=['id','Course'])

In [5]:
X=train.drop(columns=['Target'])
Y=train['Target']

## El test de kaggle no me sirve para evaluar mi modelo(no tiene Y), necesito apartar unos datos del train para poder evaluar el modelo. (HarÃ© mi propio test)

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33)

In [20]:
# hago el preprocesamiento en el X_train
scaler=StandardScaler()
scaler.fit(X_train)
X_train[:]=scaler.transform(X_train)
X_test[:]=scaler.transform(X_test)

In [21]:
clf=LogisticRegression(max_iter=10000)
clf.fit(X_train,y_train)

LogisticRegression(max_iter=10000)

In [22]:
yhat_train=clf.predict(X_train)
accuracy_score(y_train,yhat_train)

0.8158074394834884

In [23]:
yhat_test=clf.predict(X_test)
accuracy_score(y_test,yhat_test)

0.8108985782741278

## Una vez tengamos un modelo, hay que repetir el preprocesamiento a test (al conjunto que sirve para hacer una submission)

In [24]:
test=pd.read_csv("test.csv")
submission=pd.read_csv("sample_submission.csv")

In [25]:
test.head()

,id,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
0,76518,1,1,1,9500,1,1,141.0,1,3,...,0,0,8,0,0,0.000000,0,13.9,-0.3,0.79
1,76519,1,1,1,9238,1,1,128.0,1,1,...,0,0,6,6,6,13.500000,0,11.1,0.6,2.02
2,76520,1,1,1,9238,1,1,118.0,1,1,...,0,0,6,11,5,11.000000,0,15.5,2.8,-4.06
3,76521,1,44,1,9147,1,39,130.0,1,1,...,0,3,8,14,5,11.000000,0,8.9,1.4,3.51
4,76522,1,39,1,9670,1,1,110.0,1,1,...,0,0,6,9,4,10.666667,2,7.6,2.6,0.32

In [ ]:
X_submission=test.drop(columns=["id","Course"])

In [10]:
# NO HAGO FIT CON TEST, APLICO LA MISMA TRANSFORMACIÃ“N
X_submission[:]=scaler.transform(X_submission)
yhat_submission=clf.predict(X_submission)

In [11]:
yhat_submission

array(['Dropout', 'Graduate', 'Graduate', ..., 'Dropout', 'Dropout',
       'Dropout'], dtype=object)

In [12]:
submission.Target=yhat_submission
submission.to_csv("submission.csv")